



<div class="w-auto mx-auto bg-white p-8 border rounded-md shadow-md">
    <h2 class="text-2xl font-bold mb-6">Create Post</h2>

    <div class="container flex flex-col">
        <!-- Title Field -->
        <div class=" mb-4">
            <label for="title" class="block text-lg font-medium text-gray-600">Title</label>
            <input type="text" id="title" name="title" class="mt-1 p-4 w-full border rounded-md">
        </div>

        <!-- Date Field -->
        <div class="mb-4">
            <label for="date" class="block text-lg font-medium text-gray-600">Date</label>
            <input type="date" id="date" name="date" class="mt-1 p-4 w-full border rounded-md">
        </div>

        <!-- Event Place Field -->
        <div class="mb-6">
            <label for="place" class="block text-lg font-medium text-gray-600">Event Place</label>
            <input type="text" id="place" name="place" class="mt-1 p-4 w-full border rounded-md">
        </div>

        <!-- Event Details -->
        <div class="mb-6">
            <label for="place" class="block text-lg font-medium text-gray-600">Event Details</label>
            <input type="text" id="place" name="place" class="mt-1 p-4 w-full border rounded-md">
        </div>

        <!-- Photo Upload Field -->
        <div class="mb-4">
            <label for="photo" class="block text-lg font-medium text-gray-600">Upload Photo</label>
            <input type="file" id="photo" name="photo" accept="image/*" class="mt-1 p-4 w-full border rounded-md">
        </div>

        <!-- Link Field -->
        <div class="mb-6">
            <label for="link" class="block text-lg font-medium text-gray-600">Event Link</label>
            <input type="url" id="link" name="link" placeholder="https://example.com"
                class="mt-1 p-4 w-full border rounded-md">
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit"
                class="bg-orange-500 hover:bg-orange-600 text-white font-semibold rounded-md py-2 px-4 w-20">Submit</button>
        </div>
    </div>
</div>